@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 60, 100, 140;
  --color-secondary: 150, 100, 50;
  --color-background: 255, 255, 255;
  --color-foreground: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 60, 100, 140;
    --color-secondary: 150, 100, 50;
    --color-background: 255, 255, 255;
    --color-foreground: 0, 0, 0;
  }
}

body {
  color: rgb(var(--color-primary));
  background: rgb(var(--color-background));
}
